{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

{{trows=[]}}
{{if auth.is_logged_in():}}
  {{thead = THEAD(TR(TH(T("Title")),TH(T("Content"))))}}
  {{for anime in animes:}}
    {{trows.append(TR(TD(A(anime.title, _href=URL(f="animeshow", args=["anime", anime.id])))))}}
    {{trows.append(TR(TD(IMG(_src=URL(f="download", args=["image", anime.thumbnail]), _width="100px", _height="150px")), TD(T("Rating"), ":", BR(), anime.rating), _colspan=2))}}
  {{pass}}
{{else:}}
  {{thead = THEAD(TR(TH(), TH()))}}
  {{for anime in animes:}}
    {{trows.append(TR(TD(A(anime.title, _href=URL(f="animeshow", args=["anime", anime.id])))))}}
    {{trows.append(TR(TD(IMG(_src=URL(f="download", args=["image", anime.thumbnail]), _width="100px",  _height="150px")), TD(T("Rating"), ":", BR(), anime.rating), _colspan=2))}}
  {{pass}}
{{pass}}
{{tbody=TBODY(*trows)}}
{{=TABLE(thead, tbody)}}
{{=HR()}}