{{extend 'layout.html'}}
<h1></h1>
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <!-- Need to call $("#vue-div").show() in default_index.js -->

            <div>
                <div>
                    <textarea class="form-control string" id="no_table_content" v-model="form_content" placeholder="What is on your mind?:" type="text" ></textarea>
                    <span class="help-block"></span>
                </div>


                <div>
                    <button class="btn btn-primary btn-sm post-button" v-on:click="add_post()">
                        Post
                    </button>
                </div>
        </div>


        <div class="result_table">



            <div v-for="post in posts">

                <!-- Displays user name -->
                <div class="post text-left post-content">
                    <p>User: ${post.posted_by}</p>
                    <div v-if="editing && edit_id==post.id">

                        <!-- Textarea to edited  post -->
                        <div class="form-group" id="no_table_content__row">
                            <div>
                                <textarea class="form-control string" id="no_table_content" v-model="edit_content = post.content" placeholder="Content" type="text" ></textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>


                        <!-- Creates post and cancel button for editing post -->
                        <div class="form-group row edit-buttons" id="submit_record__row">
                            <div class="col-md-6">
                                <button v-if="editing" class="btn btn-warning btn-sm cancel-button" v-on:click="cancel_edit()" type="button">
                                    Cancel
                                </button>
                            </div>

                            <div class="col-md-6">
                                <button v-if="editing" class="btn btn-primary btn-sm post-edit-button" v-on:click="edit_post_submit()" type="submit">
                                    Post
                                </button>
                            </div>
                        </div>


                    </div>
                    <!-- Displays posted content-->
                    <div v-if="!editing || (editing && edit_id != post.id)">
                        <p>Content: ${post.content}</p>
                    </div>

                    <!-- Displays posted time and edited time-->
                     <div>Created On: ${post.posted_on}</div>
                    <div v-if="post.posted_on !== post.updated_on">Editied On: ${post.updated_on}</div>

                    <!-- Edit and delete button will show to autorized user-->
                    {{if auth.user:}}
                        <div v-if="post.user_email == '{{=auth.user.email}}'">
                            <i class="fa fa-pencil" v-on:click="edit_post(post.id)"></i>
                            <i class="fa fa-trash-o" v-on:click="delete_track(post.id)"></i>
                        </div>
                    {{pass}}
                </div>
            </div>

            <!-- Edit and delete button will show to autorized user-->
            <div v-if="has_more" class="show_more">
                <button id="load-more" class="btn btn-default" v-on:click="get_more()">Load more</button>
            </div>
        </div>

        </div>





</div>





<script src="{{=URL('static', 'js/default_index.js')}}"></script>
